body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 2em;
  background-color: #121212; /* Karanlık Arka Plan */
  color: #e0e0e0; /* Açık Gri Yazı */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #00bfa5; /* Turkuaz tonu başlık */
  margin-bottom: 1em;
}

.status-text {
  color: #9e9e9e;
  margin-bottom: 2em;
}

.invisible {
  opacity: 0.2;
  pointer-events: none;
}

/* Video ve Canvas Alanı */
.canvas-container {
  position: relative;
  width: 640px;
  height: 480px;
  margin: 0 auto;
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
  background-color: #000;
}

video, .output_canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
  height: 480px;
  /* Aynalama */
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.mdc-button--raised {
  background-color: #00bfa5 !important;
  margin-bottom: 20px;
}
